<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="intership" transaction-type="RESOURCE_LOCAL">

        <class>com.company.intership.entity.CommercialNetwork</class>
        <class>com.company.intership.entity.Shop</class>
        <class>com.company.intership.entity.ManufacturerOfGoods</class>
        <class>com.company.intership.entity.Product</class>
        <class>com.company.intership.entity.Address</class>
        <class>com.company.intership.entity.Purchase</class>
        <class>com.company.intership.entity.ProductInStore</class>
        <class>com.company.intership.entity.ProductInPurchase</class>
        <class>com.company.intership.entity.PriceHistory</class>
        <class>com.company.intership.entity.ExtUser</class>
        <class>com.company.intership.entity.Buyer</class>
        <class>com.company.intership.entity.NaturalPerson</class>
        <class>com.company.intership.entity.JuridicalPerson</class>
        <class>com.company.intership.entity.OnlineOrder</class>
        <class>com.company.intership.entity.Employee</class>
    </persistence-unit>
</persistence>
